
<nav class="v_nav">
<%= link_to 'signup', new_user_registration_path %>
<%= link_to 'login', new_user_session_path %>
<%= link_to 'logout', destroy_user_session_path %>
<%= link_to 'create a business card', new_business_card_path %>
</nav>
<nav class="h_nav">
<%= link_to 'one', root_path %>
<%= link_to 'two', root_path %>
<%= link_to 'three', root_path %>
<%= link_to 'four', root_path %>
</nav>

<div id="card">
  <div class="front">
    <p>User Name</p>
    <p>Company Name</p>
  </div>
  <div class="back">
  	<div class="pic">
  		<p>Pic</p>
  	</div>
    <p>Back</p>
  </div>
</div>
