<h1>Card Content</h1>
<div class="card content">
<h1>Card Content</h1>
    <p>
       <ul>      
         <li><%= @business_card.company_name %></li>
         <li><%= @business_card.web_url%></li>
         <li><%= @business_card.full_name %></li>
         <li><%= @business_card.job_title %></li>
         <li><%= @business_card.phone %></li>
         <li><%= @business_card.email %></li>
      </ul>
    </p>

</div>
<!-- params from show tweeter -->

<!-- # t.string   "company_name"
#     t.string   "web_url"
#     t.string   "full_name"
#     t.string   "job_title"
#     t.string   "phone"
#     t.string   "email" -->