<div class="card">
  <div class="front">
    <p id="full_name"><%= @card.full_name %></p>
    <p id="company_name"><%= @card.company_name %></p>
    <p id="job_title"><%= @card.job_title %></p>
  </div>
  <div class="back">
    <p id="phone"><%= @card.phone %></p>
    <p id="email"><%= @card.email %></p>
    <p id="web_url"><%= @card.web_url%></p>
  </div>
</div>


