<!DOCTYPE html>
<html>
<head>
  <title>ContactMe</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.16/dist/jquery.flip.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
	<% if current_user %>
	    <span>Hello <%= current_user.email %></span>
	<% end %>
		<nav class="v_nav">
       <% if current_user %>
		<%= link_to 'logout', destroy_user_session_path, method: :delete %>
		<%= link_to 'create a business card', new_business_card_path %>
		<% else %>
		<%= link_to 'signup', new_user_registration_path %>
		<%= link_to 'login', new_user_session_path %>
		<% end %>
		 
		</nav>
		
	</header>

	<nav class="h_nav">
		<%= link_to 'one', root_path %>
		<%= link_to 'two', root_path %>
		<%= link_to 'three', root_path %>
		<%= link_to 'four', root_path %>
		</nav>

<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

  <%= yield %>


</body>
</html>
